.fondo{
    background: #E79946;
    background: linear-gradient(90deg,rgba(231, 153, 70, 1) 0%, rgba(232, 71, 146, 1) 50%, rgba(0, 145, 255, 1) 100%);
    height: 98vh;
    border-radius: 0 15px 0 15px;
}