body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.dashboard-layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
}


.header {
    grid-area: header;
    background-color: #454545;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 1);
}

.header img {
    height: 120px; 
    width: auto; 
    margin-right: 20px; 
}

.user-nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.user-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar {
    grid-area: sidebar;
    background-color: #454545;
    color: white;
    padding-top: 20px;
    box-shadow: 20px 5px 10px rgba(0, 0, 0, 1);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #ecf0f1;
    transition: background-color 0.2s;
}

.sidebar nav li a:hover,
.sidebar nav li a.active {
    background-color: #45C3E5;
    border-left: 5px solid #E41D66  ;
    padding-left: 15px;
}


.main-content {
    grid-area: main;
    padding: 20px;
    background-color: #f9f9f9;
}

.mbody{
    background-color: #454545;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}


