.card {
    width: 500px; 
    height: 500px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s ease;
    margin-left: 550px;
}

.card:hover {
    transform: translateY(-5px); 
}


.card-image-container {
    height: 280px; 
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    color: #333;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.3;
}


.card-details {
    margin-bottom: 15px;
    color: #666;
}

.card-info {
    margin: 5px 0;
    font-size: 0.9em;
}

.card-info i {
    color: #007bff; 
    margin-right: 5px;
}
    

.details-header {
    background-color: #3d3d3d; 
    color: white;
    padding: 15px;
}

.details-header h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.1em;
}

.description-area {
    grid-row: 4 / span 3; 
    height: 200px; 
    align-items: flex-start; 
    padding-top: 15px;
    grid-column: 1 / 2;
}

.right-column-fields {
    display: flex;
    flex-direction: column;
}


.action-button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
}


.btn-discard {
    background-color: #f44336; 
}

.btn-draft {
    background-color: #4c4c4c; 
}

.btn-publish {
    background-color: #8bc34a; 
}

.action-button:hover {
    opacity: 0.9;
}

.details-form-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr; 
    gap: 20px; 
    padding: 20px;
    align-items: center;

}

.input-field {
    background-color: #cccccc; 
    color: #333; 
    border-radius: 6px;
    border: none; 
    font-weight: bold;
    font-size: 0.9em;
    height: 20px; 
    margin-bottom: 15px;
    box-sizing: content-box; 
    width: auto; 

}

.input-field::placeholder {
    color: #8888; 
    font-weight: bold;
    text-transform: uppercase;
}

input[type="date"] {
    color: #888888;
    text-align: center;
}

p{
    color: #f2f2f3;
    align-items: center;
}